#intro {
  float: left;
  width: 620px;
  height: auto;
  border: 1px solid #999999;
}

#display {
  float: left;
  width: 620px;
  height: 600px;
  border: 1px solid #999999;
  margin-left: 20px;
}

#counts {
  float: left;
  width: auto;
  height: auto;
  /*border: 1px solid #999999;*/
  margin-left: 20px;
}

#anim {
  width: 200px;
  height: auto;
  font: 15px verdana, sans-serif;
  border: 1px solid #999999;
}

#randomize {
  width: 200px;
  height: auto;
  font: 15px verdana, sans-serif;
  border: 1px solid #999999;
}

#controls {
  float: left;
  width: 202px;
  height: auto;
  font: 15px verdana, sans-serif;
  /*border: 1px solid #990000;*/
  margin-bottom: 20px;
}

footer {
  display: block;
  text-align: center;
  font: 20px helvetica, sans-serif;
  font-weight: bold;
}
